{
  plugins: [
    ['module-resolver', {
      'root': ['.'],
      'alias': {
        'Components': 'app/components',
        'Templates': 'app/templates',
        'Lib': 'app/lib',
        'Util': 'app/util',
        'Store': 'app/store',
        'Root': 'app/',
        'Icons': 'app/components/icons',
      }
    }],
    'lodash',
    'transform-object-rest-spread',
    'transform-object-assign',
  ],
  presets: [
    ['es2015', { 'modules': false }],
    'react',
  ]
}
