.nav {
  text-align: right;
  padding-top: 1.2em;
  z-index: 1000;
  background-color: white;

  hr {
    margin-top: 1.2em;
  }

  a {
    color: $cb;
    text-decoration: none;
  }

  .foot & {
    padding-top: 0;
    padding-bottom: 1.2em;

    hr {
      margin-top: 0;
      margin-bottom: 1.2em;
    }
  }
}
.nav__inner {
  a {
    margin-left: 3em;
  }
}
